span[src$="bannerImg"] img {
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  max-width: 100%;
  margin-top: 0px;
  max-height: 10rem;
  min-height: 10rem;
  object-fit: cover;
  border-radius: 0px;
  position: absolute;
}
