/*
 * Version: v0.1.0
 * Purpose: Create a banner image for obsidian
 * Author: seannave211
 * Acknowledgement: KuiyueRO
 */

:root {
    --bannerimg-height: 16rem;
}

.bannerimg span[src$="bannerimg"] img {
    width: 100%;
    max-width: 100%;
    margin-top: 0px;
    object-fit: cover;
    top: 0;
    left: 0;
    max-height: calc(var(--bannerimg-height) - 1rem);
    min-height: calc(var(--bannerimg-height) - 1rem);
    position: absolute;
    margin-bottom: 1rem;
    z-index: 9;
}

.markdown-reading-view .bannerimg {
    padding-top: var(--bannerimg-height);
}
