/*
 *Purpose: A CSS snippet for creating a grid within the Obsidian Callouts
 *Author: Sean Nave
 */

.callout[data-callout="grid"] {
    --callout-color: 255, 255, 255;
    --callout-icon: lucide-layout-grid;
    display: flex;
    flex-direction: column-reverse;
}
