/*
 * Version: v1.0.0
 * Purpose: Create a callout box that floats to the edges of the pane.
 * Author: seannave211
 * Acknowledgement: FireIsGood
 */

:root {
    --tooltip-size: 250px;
}

.markdown-preview-view {
    container-name: page;
    container-type: inline-size;
}

@container page (width > 1200px) {
    .markdown-reading-view .callout[data-callout="epic"] {
        --p-spacing: 0;
        position: absolute;
        width: var(--tooltip-size);
        translate: calc(-1 * (var(--tooltip-size) + 1rem)) 0;
    }
}

.callout[data-callout="epic"] {
    --callout-color: rgb(0, 0, 0);
    --callout-icon: none;
    border: 2px solid var(--color-accent);
}

.callout[data-callout="epic"] .callout-icon {
    display: none;
}
